
FLASK_ENV=production

# Flask/Gunicorn
APP_NAME=
APP_PORT=

# URL prefix (mount under /ro5)
URL_PREFIX=
APP_URL=

# Nginx host ports (host:container)
RO5_NGINX_SSL_PORT=
RO5_NGINX_HTTP_PORT=

#UI github .env
VITE_API_URL=
VITE_ASSET_ROOT=

